h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}


input[name=name1]:focus, input[name=name2]:focus{
    outline-color: rgb(79, 96, 247);
}